<div class="wrapper solo">
  <!-- BEGIN switch_menu -->
  {UCP_TABS}
  <!-- END switch_menu -->

  <div id="cp-main">
    <h2 class="profile_h2">{L_VIEWING_PROFILE}</h2>
    <form action="{U_ADMIN_RPG}" method="post" name="post">
    <div class="second-panel">					
      <!-- BEGIN rpg_fields -->
      <fieldset>
        <dl>
          <dd>{rpg_fields.F_VALUE_NEW}</dd>
        </dl>
      </fieldset>
      <!-- END rpg_fields -->		
      <div class="rpg-avatar-explanation">
        Attention, pour insérer une image dans le champs "avatar", respecter la technique suivante :<br />
      <textarea rows="1" cols="35">
        <img alt='prenom' src=lien-url />
      </textarea>
      <p>
        <strong>Ne pas mettre de guillemets autour du lien !</strong> La taille est de 80*70px.
      </p>
      </div>
    </div>

    <div class="submit-buttons">
      <input type="submit" name="submit" value="{L_VALID}" class="button1" />&nbsp;
      <input class="button1" type="reset" name="reset" value="{L_RESET}" />
      <input type="hidden" name="username" value="{U_ID}" />
      <input type="hidden" name="mode" value="valid" />
    </div>
    </form>
  </div>
</div>