{JAVASCRIPT}

<!-- BEGIN switch_user_login_form_header -->
<div class="panel">
	<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
		<div class="user_login_form center">
			<input placeholder="{L_USERNAME}" class="inputbox fl_username" type="text" size="10" name="username" />
			<input placeholder="{L_PASSWORD}" class="inputbox fl_password" type="password" size="10" name="password" />
			<br />
			<label>{L_AUTO_LOGIN}: <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label>
			{S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />
            <!-- BEGIN switch_social_login -->
            <div class="social_btn">
                <!-- BEGIN fb_connect -->
                <div class="fb-login-button"></div>
                <!-- END fb_connect -->
                <!-- BEGIN topicit_connect -->
                <div class="ti-connect"></div>
                <!-- END topicit_connect -->
            </div>
            <!-- END switch_social_login -->
		</div>
	</form>
</div>
<!-- END switch_user_login_form_header -->

<!-- BEGIN message_admin_index -->
	<!-- BEGIN message_admin_txt -->
	<div class="index-PA">{message_admin_index.message_admin_txt.MES_TXT}</div>
	<!-- END message_admin_txt -->
<!-- END message_admin_index -->

{BOARD_INDEX}



<!-- BEGIN switch_user_login_form_footer -->
<div class="panel">
	<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
		<div class="user_login_form center">
			<input placeholder="{L_USERNAME}" class="inputbox fl_username" type="text" size="10" name="username" />
			<input placeholder="{L_PASSWORD}" class="inputbox fl_password" type="password" size="10" name="password" />
			<br />
			<label>{L_AUTO_LOGIN}: <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label>
			{S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />
			<!-- BEGIN switch_social_login -->
            <div class="social_btn">
                <!-- BEGIN fb_connect -->
                <div class="fb-login-button"></div>
                <!-- END fb_connect -->
                <!-- BEGIN topicit_connect -->
                <div class="ti-connect"></div>
                <!-- END topicit_connect -->
            </div>
            <!-- END switch_social_login -->
		</div>
	</form>
</div>
<!-- END switch_user_login_form_footer -->

{AUTO_DST}

  <div class="popup">
    <nav class="popup-nav scrollbar scrollbg-dark">
      <ul class="popup-list-lv1">
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2 popup-nav-item">Pico. Monde                   
            <li data-url="/t3364-contexte-de-bruxia#250345" class="popup-list-lv2-item">
                  Histoire complète  
            </li>                    
            <li data-url="/t3364-contexte-de-bruxia#250346" class="popup-list-lv2-item">
                  Quelle race tu joues ?  
            </li>                            
            <li data-url="/t3364-contexte-de-bruxia#250347" class="popup-list-lv2-item">
                  Invocation et Magie  
            </li>                            
            <li data-url="/t3364-contexte-de-bruxia#250348" class="popup-list-lv2-item">
                  L'école de Bruxia  
            </li>                           
            <li data-url="/t3364-contexte-de-bruxia#250349" class="popup-list-lv2-item">
                  L'Administration  
            </li>                            
            <li data-url="/t3364-contexte-de-bruxia#250350" class="popup-list-lv2-item">
                  Chronologie shamanique  
            </li>                                 
        </ul>
          
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Alpha Perdu
            <li data-url="/t3365-contexte-d-alpha-perdu#250351" class="popup-list-lv2-item">
              Histoire complète    
          </li>                     
          <li data-url="/t3365-contexte-d-alpha-perdu#250352" class="popup-list-lv2-item">
                Les Espèces Intelligentes    
          </li>                     
          <li data-url="/t3365-contexte-d-alpha-perdu#250353" class="popup-list-lv2-item">
                Les Factions    
          </li>                      
          <li data-url="/t3365-contexte-d-alpha-perdu#250354" class="popup-list-lv2-item">
                Les Étoiles d'Oxtros        
          </li>                  
          <li data-url="/t3365-contexte-d-alpha-perdu#250355" class="popup-list-lv2-item">
                Bon à savoir    
          </li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Zombieland
            <li data-url="/t3366-contexte-de-zombieland#250356" class="popup-list-lv2-item">
              Histoire complète  
            </li>                            
            <li data-url="/t3366-contexte-de-zombieland#250357" class="popup-list-lv2-item">
                    Où est-ce qu'on est ?    
            </li>                           
            <li data-url="/t3366-contexte-de-zombieland#250358" class="popup-list-lv2-item">
                    Notre belle époque : 2072      
            </li>                           
            <li data-url="/t3366-contexte-de-zombieland#250359" class="popup-list-lv2-item">
                    Précisions sur les zombies    
            </li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Aventures du Passé
            <li data-url="/t3367-contexte-d-aventures-du-passe#250360" class="popup-list-lv2-item">
              Histoire complète        
            </li>                                   
            <li data-url="/t3367-contexte-d-aventures-du-passe#250361" class="popup-list-lv2-item">
                        1. Choisis ton alignement            
            </li>                                   
            <li data-url="/t3367-contexte-d-aventures-du-passe#250362" class="popup-list-lv2-item">
                        2. Choisis ta race        
            </li>                                   
            <li data-url="/t3367-contexte-d-aventures-du-passe#250363" class="popup-list-lv2-item">
                        3. Choisis ta classe        
            </li>                                
            <li data-url="/t3367-contexte-d-aventures-du-passe#250364" class="popup-list-lv2-item">
                        Bon à savoir        
            </li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">X-Men
            <li data-url="/t3368-contexte-de-x-men#250365" class="popup-list-lv2-item">
              Histoire complète      
            </li>                           
            <li data-url="/t3368-contexte-de-x-men#250366" class="popup-list-lv2-item">
                    Choisis ton alignement        
            </li>                           
            <li data-url="/t3368-contexte-de-x-men#250367" class="popup-list-lv2-item">
                    Précisions sur les mutants      
            </li>                           
            <li data-url="/t3368-contexte-de-x-men#250368" class="popup-list-lv2-item">
                    Où se cachent-ils ?    
            </li>                       
            <li data-url="/t3368-contexte-de-x-men#250369" class="popup-list-lv2-item">
                    Petite chronologie      
            </li>                        
            <li data-url="/t3368-contexte-de-x-men#250370" class="popup-list-lv2-item">
                    Liste de pouvoirs pris      
            </li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Chimères
            <li data-url="/t3369-contexte-de-chimeres#250371" class="popup-list-lv2-item">
              Histoire complète      
            </li>                       
            <li data-url="/t3369-contexte-de-chimeres#250372" class="popup-list-lv2-item">
                  Chronologie détaillée      
            </li>                       
            <li data-url="/t3369-contexte-de-chimeres#250373" class="popup-list-lv2-item">
                  La place de la religion      
            </li>                        
            <li data-url="/t3369-contexte-de-chimeres#250374" class="popup-list-lv2-item">
                  Les races      
            </li>                    
            <li data-url="/t3369-contexte-de-chimeres#250375" class="popup-list-lv2-item">
                  Les classes    
            </li>                   
            <li data-url="/t3369-contexte-de-chimeres#250376" class="popup-list-lv2-item">
                  Le Steampunk      
            </li>
          </ul>
        </li>
      </ul>
      <span class="popup-cross" onclick="togglePopup()"><img src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/close_menu.png" alt="Fermer"/></span>
    </nav>

    <div class="popup-content scrollbar scrollbg-dark"></div>
  </div>
  <div class="jqmOverlay" style="height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 2; opacity: 0.5;"></div>

<script type="text/javascript">
var NMnavItem = document.querySelectorAll('.nm-nav-item');
NMnavItem.forEach(item => {
item.addEventListener('click', openPopup);});

</script>
 