{JAVASCRIPT}

<!-- BEGIN switch_user_login_form_header -->
<div class="panel">
	<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
		<div class="user_login_form center">
			<input placeholder="{L_USERNAME}" class="inputbox fl_username" type="text" size="10" name="username" />
			<input placeholder="{L_PASSWORD}" class="inputbox fl_password" type="password" size="10" name="password" />
			<br />
			<label>{L_AUTO_LOGIN}: <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label>
			{S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />
            <!-- BEGIN switch_social_login -->
            <div class="social_btn">
                <!-- BEGIN fb_connect -->
                <div class="fb-login-button"></div>
                <!-- END fb_connect -->
                <!-- BEGIN topicit_connect -->
                <div class="ti-connect"></div>
                <!-- END topicit_connect -->
            </div>
            <!-- END switch_social_login -->
		</div>
	</form>
</div>
<!-- END switch_user_login_form_header -->

<!-- BEGIN message_admin_index -->
	<!-- BEGIN message_admin_txt -->
	<div class="index-PA">{message_admin_index.message_admin_txt.MES_TXT}</div>
	<!-- END message_admin_txt -->
<!-- END message_admin_index -->

{BOARD_INDEX}



<!-- BEGIN switch_user_login_form_footer -->
<div class="panel">
	<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
		<div class="user_login_form center">
			<input placeholder="{L_USERNAME}" class="inputbox fl_username" type="text" size="10" name="username" />
			<input placeholder="{L_PASSWORD}" class="inputbox fl_password" type="password" size="10" name="password" />
			<br />
			<label>{L_AUTO_LOGIN}: <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label>
			{S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />
			<!-- BEGIN switch_social_login -->
            <div class="social_btn">
                <!-- BEGIN fb_connect -->
                <div class="fb-login-button"></div>
                <!-- END fb_connect -->
                <!-- BEGIN topicit_connect -->
                <div class="ti-connect"></div>
                <!-- END topicit_connect -->
            </div>
            <!-- END switch_social_login -->
		</div>
	</form>
</div>
<!-- END switch_user_login_form_footer -->

{AUTO_DST}

  <div class="popup">
    <nav class="popup-nav scrollbar scrollbg-dark">
      <ul class="popup-list-lv1">
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2 popup-nav-item">Pico. Monde
            <li class="popup-list-lv2-item" data-url="/t94-test-nm-pico#427">Histoire complète</li>
            <li class="popup-list-lv2-item" data-url="/t94-test-nm-pico#428">Quelle race tu joues ?</li>
            <li class="popup-list-lv2-item" data-url="/t94-test-nm-pico#429">Invocation et Magie</li>
            <li class="popup-list-lv2-item" data-url="/t94-test-nm-pico#430">L'école de Bruxia</li>
            <li class="popup-list-lv2-item" data-url="/t94-test-nm-pico#431">L'Administration</li>
            <li class="popup-list-lv2-item" data-url="/t94-test-nm-pico#432">Chronologie shamanique</li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Alpha Perdu
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#420">Histoire complète</li>
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#421">La Confédération du Commerce</li>
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#422">L'Armée de l'Alliance Galactique</li>
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#423">La Rébellion</li>
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#424">Les Étoiles d'Oxtros</li>
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#425">Les Espèces Intelligentes</li>
            <li class="popup-list-lv2-item" data-url="/t93-test-nm-ap#426">Bon à savoir</li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Zombieland
            <li class="popup-list-lv2-item" data-url="/t95-test-nm-zombie#433">Histoire complète</li>
            <li class="popup-list-lv2-item" data-url="/t95-test-nm-zombie#434">Où est-ce qu'on est ?</li>
            <li class="popup-list-lv2-item" data-url="/t95-test-nm-zombie#435">Notre belle époque : 2072</li>
            <li class="popup-list-lv2-item" data-url="/t95-test-nm-zombie#436">Précisions sur les zombies</li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Aventures du Passé
            <li class="popup-list-lv2-item" data-url="/t92-test-nm-adp#415" data-ref="adp-01">Histoire complète</li>
            <li class="popup-list-lv2-item" data-url="/t92-test-nm-adp#416" data-ref="adp-02">Étape 1 : choisis ton alignement</li>
            <li class="popup-list-lv2-item" data-url="/t92-test-nm-adp#417" data-ref="adp-03">Étape 2 : choisis ta race</li>
            <li class="popup-list-lv2-item" data-url="/t92-test-nm-adp#418" data-ref="adp-04">Étape 3 : choisis ta classe</li>
            <li class="popup-list-lv2-item" data-url="/t92-test-nm-adp#419" data-ref="adp-05">Bon à savoir</li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">X-Men
            <li class="popup-list-lv2-item" data-url="/t91-test-nm-x-men#409">Histoire complète</li>
            <li class="popup-list-lv2-item" data-url="/t91-test-nm-x-men#410">Ton alignement</li>
            <li class="popup-list-lv2-item" data-url="/t91-test-nm-x-men#411">Précisions sur les mutants</li>
            <li class="popup-list-lv2-item" data-url="/t91-test-nm-x-men#412">Où se cachent-ils ?</li>
            <li class="popup-list-lv2-item" data-url="/t91-test-nm-x-men#413">Petite chronologie</li>
            <li class="popup-list-lv2-item" data-url="/t91-test-nm-x-men#414">Pouvoirs indisponible</li>
          </ul>
        </li>
        <li class="popup-list-lv1-item">
          <ul class="popup-list-lv2">Chimères
            <li class="popup-list-lv2-item" data-url="/t96-test-nm-chim#437">Histoire complète</li>
            <li class="popup-list-lv2-item" data-url="/t96-test-nm-chim#438">Chronologie détaillée</li>
            <li class="popup-list-lv2-item" data-url="/t96-test-nm-chim#439">La place de la religion</li>
            <li class="popup-list-lv2-item" data-url="/t96-test-nm-chim#440">Les races</li>
            <li class="popup-list-lv2-item" data-url="/t96-test-nm-chim#441">Les classes</li>
            <li class="popup-list-lv2-item" data-url="/t96-test-nm-chim#442">Le steampunk</li>
          </ul>
        </li>
      </ul>
      <span class="popup-cross" onclick="togglePopup()"><img src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/close_menu.png" alt="Fermer"/></span>
    </nav>

    <div class="popup-content scrollbar scrollbg-dark"></div>
  </div>
  <div class="jqmOverlay" style="height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 2; opacity: 0.5;"></div>

<script type="text/javascript">
var NMnavItem = document.querySelectorAll('.nm-nav-item');
NMnavItem.forEach(item => {
item.addEventListener('click', openPopup);});

</script>
 