<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" id="min-width" lang="{L_LANG_HTML}"
	  xml:lang="{L_LANG_HTML}" {NAMESPACE_FB_LIKE} {NAMESPACE_FB} {NAMESPACE_BBCODE}>
<head>
	<title>{SITENAME_TITLE}{PAGE_TITLE}</title>
	<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}"/>
	<meta http-equiv="content-script-type" content="text/javascript"/>
	<meta http-equiv="content-style-type" content="text/css"/>
	<!-- BEGIN switch_compat_meta -->
	<meta http-equiv="X-UA-Compatible" content="IE={switch_compat_meta.VERSION}"/>
	<!-- END switch_compat_meta -->
	<!-- BEGIN switch_canonical_url -->
	<link rel="canonical" href="{switch_canonical_url.CANONICAL_URL}"/>
	<!-- END switch_canonical_url -->
	{META_FAVICO}
	{META}
	{META_FB_LIKE}
	<meta name="title" content="{SITENAME_TITLE}{PAGE_TITLE}"/>
  {T_HEAD_STYLESHEET}
  {CSS}
  <link rel="stylesheet" type="text/css" title="style" href="https://nanorp-2020.web.app/styles/forum.css" />
  <link rel="alternate stylesheet" type="text/css" title="micro_light" href="https://nanorp-2020.web.app/styles/metamorphose/micro_light.css" />
  <link rel="alternate stylesheet" type="text/css" title="AP_light" href="https://nanorp-2020.web.app/styles/metamorphose/AP_light.css" />
  <link rel="alternate stylesheet" type="text/css" title="chim_light" href="https://nanorp-2020.web.app/styles/metamorphose/chim_light.css" />
  <link rel="alternate stylesheet" type="text/css" title="zomb_light" href="https://nanorp-2020.web.app/styles/metamorphose/zomb_light.css" />
  <link rel="alternate stylesheet" type="text/css" title="xmen_light" href="https://nanorp-2020.web.app/styles/metamorphose/xmen_light.css" />
  <link rel="alternate stylesheet" type="text/css" title="AdP_light" href="https://nanorp-2020.web.app/styles/metamorphose/AdP_light.css" />
  
 
	<link rel="search" type="application/opensearchdescription+xml" href="/improvedsearch.xml" title="{SITENAME}" />
	<link rel="search" type="application/opensearchdescription+xml"
		  href="{URL_BOARD_DIRECTORY}/search/improvedsearch.xml" title="{SEARCH_FORUMS}" />
	<script src="{JQUERY_PATH}" type="text/javascript"></script>
	<!-- BEGIN switch_recent_jquery -->
	<script src="{JS_DIR}jquery1.9/jquery-migrate-1.4.1.js" type="text/javascript"></script>
	<script src="{JQUERY_DIR}browser/v1.0/jquery.browser.min.js" type="text/javascript"></script>
	<script src="{JQUERY_DIR}support/jquery.support.js" type="text/javascript"></script>
	<!-- END switch_recent_jquery -->>
	<script src="{JS_DIR}{L_LANG}.js" type="text/javascript"></script>
	{RICH_SNIPPET_GOOGLE}

	<script type="text/javascript">//<![CDATA[
		$(document).ready(function () {
			<!-- BEGIN switch_enable_pm_popup -->
			pm = window.open('{U_PRIVATEMSGS_POPUP}', '_faprivmsg', 'HEIGHT=225,resizable=yes,WIDTH=400');
			if (pm != null) {
				pm.focus();
			}
			<!-- END switch_enable_pm_popup -->
			<!-- BEGIN switch_report_popup -->
			report = window.open('{switch_report_popup.U_REPORT_POPUP}', '_phpbbreport', 'HEIGHT={switch_report_popup.S_HEIGHT},resizable=yes,scrollbars=no,WIDTH={switch_report_popup.S_WIDTH}');
			if (report != null) {
				report.focus();
			}
			<!-- END switch_report_popup -->
			
		});

		<!-- BEGIN switch_login_popup -->
		var logInPopUpLeft, logInPopUpTop, logInPopUpWidth = {LOGIN_POPUP_WIDTH},
			logInPopUpHeight = {LOGIN_POPUP_HEIGHT}, logInBackgroundResize = true, logInBackgroundClass = false;

		$(document).ready(function () {
			$(window).resize(function () {
				var windowWidth = document.documentElement.clientWidth;
				var popupWidth = $("#login_popup").width();
				var mypopup = $("#login_popup");

				$("#login_popup").css({
					"left": windowWidth / 2 - popupWidth / 2
				});
			});
		});
		<!-- END switch_login_popup -->
		//]]>
	</script>

	{GREETING_POPUP}

	<style type="text/css">
		#page-footer, div.navbar, div.navbar ul.linklist {
			display: block !important;
		}

		ul.linklist li.rightside, ul.linklist li.rightside a.copyright {
			display: inline !important;
		}
	</style>

	{HOSTING_JS}

	<!-- BEGIN google_analytics_code -->
	<script type="text/javascript">
		//<![CDATA[
		(function (i, s, o, g, r, a, m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
		})
		(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', '{G_ANALYTICS_ID}', 'auto');
		ga('send', 'pageview');
		ga('set', 'anonymizeIp', true);

		<!-- BEGIN google_analytics_code_bis -->
		ga('create', '{G_ANALYTICS_ID_BIS}', 'auto', 'bis');
		ga('bis.send', 'pageview');
		ga('bis.set', 'anonymizeIp', true);
		<!-- END google_analytics_code_bis -->
		//]]>
	</script>
	<!-- END google_analytics_code -->

  	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet" />
  	<link href="https://nanorp-2020.web.app/font/font.css" rel="stylesheet" />
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
  	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body id="modernbb" onload="set_style_from_cookie()">
<!-- BEGIN switch_login_popup -->
<div id="login_popup" style="z-index: 10000 !important;">
	<div class="h3">{SITENAME}</div>
	<div id="login_popup_message">
		{LOGIN_POPUP_MSG}
	</div>
	<div id="login_popup_buttons">
		<form action="{S_LOGIN_ACTION}" method="get">
			<input type="submit" class="button1" value="{L_LOGIN}"/>
			<input type="button" class="button1" value="{L_REGISTER}" onclick="parent.location='{U_REGISTER}';"/>
			<input id="login_popup_close" type="button" class="button2" value="{L_DONT_DISPLAY_AGAIN}"/>
		</form>
	</div>
</div>
<!-- END switch_login_popup -->

<a id="top" name="top" accesskey="t"></a>
{JAVASCRIPT}

<div class="wrapper">
	<div id="top-bottom-shortcuts">
		<a href="#page-header" class="arrow">
			<img src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/arrow_top.png" alt="Haut">
		</a>
		<a href="#page-footer" class="arrow">
			<img src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/arrow_bottom.png" alt="Bas">
		</a>
</div>
<header id="page-header">
		<div id="headerbar-top">
			<div id="theme-button">
				<a type="button" onclick="openMenu('themes');closeMenu('nav-plus')" ondblclick="closeMenu('themes')">Métamorphose</a>
				<div id="themes">
					<ul class="themes-list">
						<li class="themes-list-item color-faille"><a type="button" onclick="delete_cookie('metamorphose');window.location.reload(false);return false">Faille</a></li>
						<li class="themes-list-item color-micro"><a type="button" onclick="switch_style('micro_light');closeMenu('themes');return false">Pico.</a></li>
						<li class="themes-list-item color-AP"><a type="button" onclick="switch_style('AP_light');closeMenu('themes');return false">Alpha Perdu</a></li>
						<li class="themes-list-item color-chimeres"><a type="button" onclick="switch_style('chim_light');closeMenu('themes');return false">Chimères</a></li>
						<li class="themes-list-item color-zombie"><a type="button" onclick="switch_style('zomb_light');closeMenu('themes');return false">Zombieland</a></li>
						<li class="themes-list-item color-AdP"><a type="button" onclick="switch_style('AdP_light');closeMenu('themes');return false">Av. du Passé</a></li>
						<li class="themes-list-item color-xmen"><a type="button" onclick="switch_style('xmen_light');closeMenu('themes');return false">X-men</a></li>
					</ul>
					<img class="cross" onclick="closeMenu('themes')" src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/close_menu.png" alt="Fermer" />
				</div>
			</div>
			<ul class="navbar first">                      
				<li><a href="/">Accueil</a></li>
				<!-- BEGIN switch_user_logged_in -->
				<li><a href="/profile?mode=editprofile">Profil</a></li>
				<li><a href="/memberlist">Membres</a></li>
				<li><a href="/groups">Groupes</a></li>             
				<!-- END switch_user_logged_in -->
				
			</ul>
			<div id="nav-plus-button">
			<a type="button" onclick="openMenu('nav-plus');closeMenu('themes')" ondblclick="closeMenu('nav-plus')">
				<img src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/bn-lien.png" alt="Plus" />
			</a>
			<div id="nav-plus">
				<ul class="nav-plus-list">					
					<!-- BEGIN switch_user_logged_in -->
																					<li class="nav-plus-list-item"><a href="">Contrat du RP</a></li>
					<li class="nav-plus-list-item">
						<a href="{U_SEARCH_NEW}">Nouveaux messages</a>
					</li>
					<li class="nav-plus-list-item">
						<a href="{U_MARK_READ}" accesskey="m">Tout marqué lu</a>
					</li>
					<!-- END switch_user_logged_in -->
				
					<li class="nav-plus-list-item"><a href="/search">Rechercher</a></li>
				</ul>
				<img class="cross" onclick="closeMenu('nav-plus')" src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/close_menu.png" alt="Fermer" />
			</div>
			</div>
			<ul class="navbar last">
				<li>{GENERATED_NAV_BAR}</li>
				<li><a href="https://discord.gg/p3SSKQq"><img class="discord-icon" src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/bn-discord.png" alt="Discord NRP" title="Discord NRP" /></a></li>
			</ul>                          	  
		</div>
  <span id="mamie_guitar" href="/">
    <img src="https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/ban_mamie.png" alt="Mamie guitare" />
	<!-- <span>10 ans dejaaa !!</span> -->
</span>
        <h1 id="site-title"><span>Nano.</span> RolePlay</h1>
	<p id="site-desc">Ici, c'est pas plus de 4 lignes !</p>
    
  
  
</header>   
<main id="main-content">