<!-- BEGIN html_validation -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <div>
	<footer>
          <div class="footer-links">
<!-- END html_validation -->
           
	<!-- BEGIN switch_footer_links -->  	
            <!-- BEGIN footer_link -->
           
              <ul class="footerbar-user">
		<li class="rightside">
			<a name="bottom" class="copyright" href="{switch_footer_links.footer_link.U_FOOTER_LINK_HREF}" rel="{switch_footer_links.footer_link.FOOTER_LINK_REL}" target="{switch_footer_links.footer_link.FOOTER_LINK_TARGET}" title="{switch_footer_links.footer_link.L_FOOTER_LINK_TITLE}">
			 {switch_footer_links.footer_link.L_FOOTER_LINK_TEXT}
			</a>
		 </li>
               </ul>
            <!-- END footer_link -->   
        <!-- END switch_footer_links -->
        </div>
        </footer>
     </div>
{PROTECT_FOOTER}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
   document.getElementById('main-content').children[0].style.display = "none";

  const forumDesc = document.querySelectorAll('#cat_general .level_one .forumrow-content');
    const imagesGeneral = [
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme1.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme2.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme3.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme4.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme5.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme6.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme7.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme8.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme9.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme10.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme11.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme12.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/meme13.jpg',
    ];
    shuffleArray(imagesGeneral);
    randomBgImage(forumDesc, imagesGeneral);
  
  const forumFaille = document.querySelectorAll('#cat_faille .level_one .forumrow-content');
    const imagesFaille = [
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/faille1.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/faille2.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/faille3.jpg',
    ];
    randomBgImage(forumFaille, imagesFaille);
  
  const boxes = document.querySelectorAll('#cat_NM #boxes .box-content');
    const imagesOngletGen = [
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/onggen_mm.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/onggen_ap.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/onggen_zom.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/onggen_adp.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/onggen_xmen.jpg',
      'https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/onggen_chim.jpg'
    ];
    randomBgImage(boxes, imagesOngletGen);
}); 
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
	fa_endpage();
//]]>
</script>
</body>
</html>