<!-- BEGIN html_validation -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<footer>
          <div class="footer-links">
<!-- END html_validation -->
           
	<!-- BEGIN switch_footer_links -->  	
            <!-- BEGIN footer_link -->
           
              <ul class="footerbar-user">
		<li class="rightside">
			<a name="bottom" class="copyright" href="{switch_footer_links.footer_link.U_FOOTER_LINK_HREF}" rel="{switch_footer_links.footer_link.FOOTER_LINK_REL}" target="{switch_footer_links.footer_link.FOOTER_LINK_TARGET}" title="{switch_footer_links.footer_link.L_FOOTER_LINK_TITLE}">
			 {switch_footer_links.footer_link.L_FOOTER_LINK_TEXT}
			</a>
		 </li>
               </ul>
            <!-- END footer_link -->   
        <!-- END switch_footer_links -->
        </div>
        </footer>
{PROTECT_FOOTER}
<script type="text/javascript">
//<![CDATA[
	fa_endpage();
//]]>
</script>
</body>
</html>