a:not([href^='/u']) {
  text-decoration: none;
  color: $no-color;
  font-variant: small-caps;
  font-weight: 700;

  position: relative;
}

a:not([href^='/u'])::after,
li.nm-nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: .12rem;
  background-color: $no-color;
  left: 0;
  bottom: -.15rem;
  opacity: 0;
  transform: translateZ(-30%);
  transition: all 200ms ease-in-out;
}

a:not([href^='/u']):hover::after,
li.nm-nav-item:hover::after {
  width: 100%;
  transform: translateZ(0);
  opacity: 1;
  font-variant: small-caps;
}

dl.codebox dd {
  max-height: 15rem;
  overflow-y: auto;
  background-color: $nano-dark;
  color: $no-color;
  padding: $padding-tb $padding-rl;
}