a:not([href^='/u']) {
  text-decoration: none;
  color: $no-color;
  font-variant: small-caps;
  font-weight: 700;

  position: relative;
}

a:not([href^='/u'])::after,
li.nm-nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: .12rem;
  background-color: $no-color;
  left: 0;
  bottom: -.15rem;
  opacity: 0;
  transform: translateZ(-30%);
  transition: all 200ms ease-in-out;
}

a:not([href^='/u']):hover::after,
li.nm-nav-item:hover::after {
  width: 100%;
  transform: translateZ(0);
  opacity: 1;
  font-variant: small-caps;
}

dl.codebox dd {
  max-height: 15rem;
  overflow-y: auto;
  background-color: $nano-dark;
  color: $no-color;
  padding: $padding-tb $padding-rl;
}


/* LOGIN - REGISTER block */

form#form_confirm {
  display: block!important; // fix anti ads issue 
}

/* AGREEMENT PAGE */
#frmAgreement h2 {
  text-align: center;
  font-family: summeronregular;
  margin: 1.5rem;
}

/* classes d'origine non accessibles */

.panel {
  background-color: $no-color;
  max-width: $maxWidthForum;
  margin: $margin-tb auto;

  .inner { padding: $padding-tb $padding-rl;}

  a { color: $nano-dark!important; }
  a:hover::after { background-color: $nano-dark!important;}

  fieldset {
    border: none;
  }

  .table1 {
    text-align: center;
    width: 100%;
  }

  .content {
    padding: $padding-tb $padding-rl;
  }

  fieldset {
    margin: 0 $margin-rl;
    text-align: center;

    dl {
      display: flex;
      align-items: center;
      margin: 1rem 0;
    }
    
    dt { width: 30%; }
    label { display: flex; }

    div#cont_pwd {
      display: flex;
      justify-content: space-around;
      font-size: .8rem;
    }
  }


  .h3 {
    border-bottom: 8px solid $main-color;
    font-size: 1.2rem;
    padding: $padding-tb $padding-rl 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: $margin-tb;
  }

  input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid $nano-dark;
    margin: $padding-tb 0;
  }
}

.panel.row2, .panel.row3 {
  background-color: transparent;
}