@import "variables";

#cat_NM .forumrows li:first-of-type {

  dd.forumrow-stats {
    display: none;
  }

  #boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: $no-color;
    padding: 0;
    max-width: 90vw;
    margin: auto;

    .box {
      width: 80%;
      max-width: 470px;
      min-height: 280px;
      margin: $margin-tb;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: 800px) {
        width: 43%;
        max-width: 410px;
      }

      @media (min-width: 1280px) {
        width: 26%;
      }
      
      &-content {
        background-color: rgba(0,0,0,0.3);
        padding: $padding-tb $padding-rl;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 2;
      }
        
      &-title a {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
      }

      &-desc { 
        text-transform: uppercase;
        font-weight: 700;
      }

      &-player {
        font-size: .9rem;
        flex: 2;
      }

      &-details {
        font-size: .9rem;
      }

      &-popup {
        align-self: flex-end;
      }

      &-event-status {
        padding: $padding-tb $padding-rl;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
      }
        
      &-event-link {
        background-color: $no-color;
        padding: $padding-tb $padding-rl;
        color: $nano-dark;
        text-align: center;

        &::after {
          bottom: 0;
          height: .2rem;
        }

      }
    }
  }
}