
@import 'variables';

a.topic-button { // boutons nouveau/repondre/lock
  margin: 1rem auto;
  max-width: $maxWidthForum;
  width: 90vw;
  display: block;

  &:hover::after {
    display: none;
  }
}

.forumview {
  
  ul.forumrows {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    li.forumrow.level_two {
      display: flex; // affiche les sous-forum lv2 quand on est dedans, garde masqué les lv3
      min-width: 45rem;
      max-width: 50rem;
      width: 100%;
      margin: $margin-tb;
      height: 12rem;
      padding: $padding-tb $padding-rl;
      position: relative;
      background-color: $no-color;
      flex-direction: column;

      &::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12rem 6rem 0 0;
        border-color: $no-color transparent transparent transparent;
        position: absolute;
        content: '';
        top: 0;
        left: 34%;
      }
    }

    h2.forumrow-title {
      width: 43%;
      position: relative;
      z-index: 1; 
      a {color: $nano-dark;}
    }

    dl.forumrow-content {
      display: flex;
      font-size: .9rem;
      flex-direction: column;
      flex: 2;

      dd.forumrow-desc {
        background-color: $nano-dark;
        color: $no-color;
        padding: $padding-tb $padding-rl $padding-tb 5.3rem;
        height: calc(100% - 2 * #{$padding-tb});
        width: 64%;
        align-self: flex-end;
        text-align: right;
        font-size: .8rem;
        position: absolute;
        top: $padding-tb;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul.forum-desc-links {
          display: flex;
          font-size: .9rem;
          flex-wrap: wrap;
          justify-content: flex-end;

          li {
            padding-left: $padding-tb;
          }
        }
      }

      dd.forumrow-stats {
        width: 25%;
        padding: 0 $padding-rl;
        font-variant: small-caps;
        font-weight: 700;
        color: lighten($nano-dark, $amount: 50%);
        flex: 2;
      }

      dd.forumrow-lastpost {
        width: 25%;

        span a {
          color: $nano-dark;
        }
      }

    }
  }

}
    .path {
      text-align: center;
      background-color: $nano-dark;
      color: $nano-dark;
      width: fit-content;
      margin: calc(2 * #{$margin-rl}) auto 0;
      padding: $padding-tb $padding-rl;
      position: relative;

      &::after, &::before {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        content: '';
        top: 0;
      }

      &::before {
        border-width: 0 0 3rem 3rem;
        border-color: transparent transparent rgb(22, 22, 20) transparent;
        left: -3rem;
      }

      &::after {
        border-width: 3rem 0 0 3rem;
        border-color: transparent transparent transparent rgb(22, 22, 20);
        right: -3rem;
      }

      .nav span span:not([data-ong])::before {
        content: url(https://i.servimg.com/u/f18/17/49/10/89/arrow_14.png);
        margin-right: .5rem;
      }
      // pour masquer le lien vers les sous forum lv2 NM
      .nav span[data-ong] {
        display: none;
      }

      span[data-cat='NM'] {
        margin-right: -1rem;
      }
    }