@import "variables";

header#page-header {
  height: 30rem;

  h1#site-title {
    font-family: $special-font;
    font-size: 4rem;
    color: $no-color;
    font-weight: 100;
    position: relative;
    top: 17rem;
    text-align: center;
    opacity:0;
    animation: fromLeft 700ms forwards 0.2s ease-in-out;

    span {
      margin-right: 8rem;
      transition: all 100ms ease-in-out;
    }
  }

  p#site-desc {
    color: $no-color;
    font-family: $special-font;
    font-weight: 100;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    padding-left: 30rem;
    top: 18rem;
    opacity:0;
    animation: fromRight 600ms forwards 0.3s ease-in-out;
  }

  #mamie_guitar {
    position: absolute;
    left: 50%;
    top: 3rem;
    z-index: 1;
    opacity: 0;
    animation: fade 400ms forwards .6s ease-in-out;
    

     span {
      font-size: .6rem;
      position: absolute;
      left: 0;
      text-transform: uppercase;
      top: 6rem;
      transform: rotate(14deg);
      width: fit-content;
      transition: all 100ms ease-in-out;
      font-family: $special-font;
    }
    
    img {
      display: inline;
      position: relative;
      left: -247px;
    }
  }

  #headerbar-top {
    background-color: $no-color;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  #theme-button, #nav-plus-button {
    font-weight: 700;
    padding: 0 $padding-rl;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
  }

  #nav-plus-button img {
    min-width: 30px;
    max-width: 40%;
  }
  
  #theme-button {
    width: 10.5rem;
    background-color: $nano-dark;
    color: $no-color;
  }
  
  #themes, #nav-plus {
    background-color: $nano-dark;
    color: $no-color;
    width: 10.5rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 4.2rem;
    left:0;
    transition: all 400ms ease-in-out;
    padding: .7rem 1rem;

    li.themes-list-item,
    li.nav-plus-list-item {
      margin: .7rem 0 .7rem 1.5rem;
      position: relative;
    }
    
    li.nav-plus-list-item { margin: $padding-tb 0;}

    li.themes-list-item::before {
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      left: -1.5rem;
      top: .4rem;
    }

    a {
      margin: 1rem 0;
      font-size: .8em;
    }


    .cross {
      align-self: flex-end;
      width: 30px;
    
      &:hover {
        cursor: pointer;
      }
    }
  }

  #nav-plus { width: 12rem; }

  .navbar {
    display: flex;
    align-items: center;
    
    &.first {
      justify-content: space-around;
      padding-left: $padding-rl;
    
      a {
        color: $nano-dark;
        font-weight: 700;
        font-size: .9rem;
      
        &::after {
          height: .2rem;
          background-color: $nano-dark;
        }
      }

      li {
        text-transform: uppercase;
        margin: 1rem;
      }
    }

    .discord-icon {
      min-width: 30px;
      max-width: 45%;
      margin-right: $margin-rl;
    }
    
    &.last {
      flex: 2;
      justify-content: flex-end;
    }

    &.last a {
      transition: all 200ms ease-in-out;
      :hover { opacity: 0.6; }
    }

    #i_icon_mini_logout,
    #i_icon_mini_new_message,
    #i_icon_mini_message,
    #i_icon_mini_register,
    #i_icon_mini_login,
    img[alt="Panneau admin"] {
      min-width: 30px;
      max-width: 40%;
    }
  }
}