@import "variables";

span.post_icon_img {
  width: 79px;
  height: 23px;
  display: inline-block;
  background-position-x: -79px;

  img { display: none; }
}

.post-etiquette dd {
  display: flex;
  flex-wrap: wrap;
}

.message_smiley-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  #smiley-box {
    p {
      font-size: .9rem;
      color: lighten($nano-dark, $amount: 50%)
    } 

    #sceditor_smilies body {
      background: none;
    }
  }

  #message-box {
    flex: 1;
    margin-right: $padding-rl;

    .sceditor-container.ltr.sourceMode {
      font-weight: 100;
      textarea { 
        padding: .7rem;
        width: 100%!important;
        font-size: .9rem;
        line-height: 1rem;
      }
    }

    .sceditor-container.ltr.wysiwygMode {
      iframe{ 
        padding: .7rem 1.5rem;
        width: 100%!important; }
    }
  }

  .sceditor-toolbar {
    display: flex;
    justify-content: space-between;
    padding: $padding-tb $padding-rl!important;
  }

  .sceditor-group {
    display: flex!important;
    justify-content: space-around;
    background-color: #f4f4f4!important;
    border: none!important;
    flex: 1;
    flex-wrap: wrap;

    a.sceditor-button { padding: .7rem;}
    .sceditor-button div { margin: -7px -7px; }
  }
}

.counter {
  text-align: center;
  padding-bottom: $padding-tb;
  font-weight: 700;
}

.submit-buttons {
  text-align: center;
  margin-top: calc(#{$margin-tb} * -1);
  border: none;
}

input#nb_rolls {
  width: auto!important;
}

.review {
  p.author {
    border-bottom: 2px solid $main-color;
    margin-bottom: $padding-tb;
  }
  .content {
      font-size: .9rem;
  }
}

/* REPONSE RAPIDE */ 
.topic-quickreply {
  background: $no-color url(https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/mamie_rep.jpg) no-repeat bottom left;

  .h3 { 
    background-color: $main-color;
    color: $no-color;
    padding: $padding-tb $padding-rl;
    font-weight: 700;
    text-transform: uppercase;
  }

  #quick_reply input.button2 {
    background: none;
    border: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: $padding-tb $padding-rl;
    transition: all 200ms ease-in-out;

    &:hover {
      color: $main-color;
      cursor: pointer;
    }
  }

  form#quick_reply {
    padding: $padding-tb $padding-rl;
    margin-top: -.7rem;
  }

  div#textarea_content {
     margin-bottom: -20px;
  }
}

.sceditor-toolbar {
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $padding-tb $padding-rl!important;
}

.sceditor-group {
  display: flex!important;
  justify-content: space-around;
  background-color: #f4f4f4!important;
  border: none!important;
  flex: 1;

  a.sceditor-button { padding: .7rem;}
  .sceditor-button div { margin: -7px -7px; }
}

.sceditor-container.ltr.sourceMode {
  font-weight: 100;
  textarea { 
    padding: .7rem;
    width: 100%!important;
    font-size: .9rem;
    line-height: 1rem;
  }
}

.sceditor-container.ltr.wysiwygMode {
  iframe{ 
    padding: .7rem 1.5rem;
    width: 100%!important; }
}

/* PREVIEW */ 

.preview-content {
  background-color:#f4f4f4; 
  font-size:.9rem;
  padding: $padding-tb $padding-rl;
  margin: 0 0 $margin-tb;

  a { color: $nano-dark};
  a:hover::after { background-color: $nano-dark;}
}