@import 'variables';

/* STYLES MISE EN PAGE */
.post {
  &-title {
    font-family: $special-font;
    text-align: center;
    font-size: 2rem;
  }

  &-block-1 {
    width: 75%;
    margin: auto;
    padding: $padding-tb $padding-rl;
    font-size: .9rem;
  }

  &-block-2 {
    width: 95%;
    margin: auto;
    padding: $padding-tb $padding-rl;
  }

  &-block-ink-1 {
    padding: 3rem 0;
    background: url(https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/inkv1.1.png) no-repeat 2rem -1rem, url(https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/inkv1.1.png) no-repeat 81% 112%;
    
    .post-inner {
      box-shadow: 1px 1px 6px #00000082;
    }
  }

  &-inner {
    width: 60%;
    margin: 0 auto;
    padding: $padding-tb $padding-rl;
    font-size: .9rem;
  }

  &-block-ink-2 {
    padding: 4rem 0 2rem;
    background: url(https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/inkv2.1.png) no-repeat 26% -8%, url(https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/inkv2.2.png) no-repeat 86% 0%;
  }

  &-block-ink-title {
    font-family: $special-font;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
  }

  &-warning {
    font-weight: 700;
    padding-left: 5rem;
    position: relative;
    font-size: .9rem;

    &:before {
      content: url(https://raw.githubusercontent.com/Skalleface/images-hosting/master/NRP/V9/ic_warning.png);
      position: absolute;
      top: calc(50% - 20px);
      left: 0;
    }
  }

  &-frame {
    border-width: 5px;
    border-style: solid;
    padding: $padding-tb $padding-rl;
    width: calc(100% - 4rem);
    margin: auto;
    position: relative;
  }

  &-frame-title {
    font-family: $special-font;
    padding: 0 $padding-rl;
    position: absolute;
    top: -1.3rem;
    right: 10%;
    font-size: 1.1rem;
    background-color: #f4f4f4;
  }

  &-subtitle-1 {
    padding: 0 $padding-rl;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $no-color;

  }

  &-subtitle-2 {
    border-left-width: .5rem;
    border-left-style: solid;
    padding: 0 $padding-rl;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0 $margin-rl;
  }

  &-subtitle-3 {
    border-left-width: .5rem;
    border-left-style: solid;
    padding: 0 $padding-rl;
    font-size: 1.2rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0 $padding-tb;
  }
}

/* TABLEAU FLEXBOX */
.post-table {
  display: flex;
  justify-content: center;
  border: 1px solid;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.post-thead {
  font-variant: small-caps;
  font-size: 1.2rem;
  background-color: $nano-dark;
  margin-bottom: -1.5rem;
  padding: .35rem .7rem;
  font-weight: 700;
  color: $no-color;
}

.post-cell {
  padding: .7rem 1rem;
  width: auto;
  flex: 1 100%;
}

.post-column {
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

/* CLASSE COULEUR GENERALISTE */

.bg {
  &-light { background-color: $no-color; }
  &-dark { background-color: $nano-dark; }
  &-grey { background-color: lighten($nano-dark, $amount: 50%) }
  &-pico { background-color: $micro; }
  &-adp { background-color: $AdP; }
  &-ap { background-color: $AP; }
  &-zombie { background-color: $zombie; }
  &-chim { background-color: $chimeres; }
  &-xmen { background-color: $xmen; }
  &-faille { background-color: $faille; }
  &-main { background-color: $main-color; }
}

.scrollbg {
  &-light::-webkit-scrollbar-thumb { background-color: $no-color; }
  &-dark::-webkit-scrollbar-thumb { background-color: $nano-dark; }
  &-grey::-webkit-scrollbar-thumb { background-color: lighten($nano-dark, $amount: 50%) }
  &-pico::-webkit-scrollbar-thumb { background-color: $micro; }
  &-adp::-webkit-scrollbar-thumb { background-color: $AdP; }
  &-ap::-webkit-scrollbar-thumb { background-color: $AP; }
  &-zombie::-webkit-scrollbar-thumb { background-color: $zombie; }
  &-chim::-webkit-scrollbar-thumb { background-color: $chimeres; }
  &-xmen::-webkit-scrollbar-thumb { background-color: $xmen; }
  &-faille::-webkit-scrollbar-thumb { background-color: $faille; }
  &-main::-webkit-scrollbar-thumb { background-color: $main-color; }
}

.color {
  &-light { color: $no-color!important; }
  &-dark { color: $nano-dark; }
  &-grey { color: lighten($nano-dark, $amount: 50%)!important;}
  &-pico { color: $micro!important; }
  &-adp { color: $AdP!important; }
  &-ap { color: $AP!important; }
  &-zombie { color: $zombie!important; }
  &-chim { color: $chimeres!important; }
  &-xmen { color: $xmen!important; }
  &-faille { color: $faille!important; }
  &-main { color: $main-color; }
}

.border {
  &-grey { border-color: lighten($nano-dark, $amount: 50%);}
  &-pico { border-color: $micro; }
  &-adp { border-color: $AdP; }
  &-ap { border-color: $AP; }
  &-zombie { border-color: $zombie; }
  &-chim { border-color: $chimeres; }
  &-xmen { border-color: $xmen; }
  &-faille { border-color: $faille; }
  &-main { border-color: $main-color; }
}

.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.strike {
  text-decoration: line-through;
}
