@import "variables";

/* EDITION */
#tabs ul {
  display: flex;
  justify-content: space-between;
  background-color: $nano-dark;
  padding: $padding-tb $padding-rl;

  // fix content variable no access
  max-width: $maxWidthForum;
  margin: 0 auto $margin-tb;

  li {
    list-style: none;
  }
}

.profile_h2,
form h1.page-title {
  border-bottom: 8px solid $main-color;
  font-size: 1.2rem;
  padding: $padding-tb $padding-rl 0;
  font-weight: 700;
  text-transform: uppercase;
}


form[action="/profile"] .italic {
  font-size: .9rem;
}

.profile_field_list {
  display: flex;
}


// Signature

.signature_edit {
  input.button2 { //copy style from button1 (no access to variable html content)
    cursor: pointer;
    background-color: $main-color ;
    color: $no-color;
    padding: calc(#{$padding-tb} / 2) $padding-rl;
    font-variant: small-caps;
    font-weight: 700;
    margin: $margin-tb 0;
    transition: all 200ms ease;
    &:hover { color: $nano-dark; }
  }

  #parent_editor_simple {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

// RPG sheet 

.rpg-table {
  border-collapse: separate;
  border-spacing: .7rem;
}
.rpg-avatar-explanation {
  text-align: center;
  color: $zombie;
}

.profile-rpgsheet {
    border: 4px solid $nano-dark;
    padding: $padding-tb $padding-rl;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    flex: 1 calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;

    & a,
    & table tr td:first-child,
    & table tr:first-child {
      display: none;
    }

    .rpg-title {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  
    & table {
      border: none;
      border-collapse: collapse;
      font-size: .8rem;
    }
  
    & table td {
      border: none;
      padding: 0.1rem 0.35rem;
      text-align: center;
      width: 10rem;
    }
}

/* VU DU PROFIL */

.profile-infos {
  display: flex;
  justify-content: space-between;
  background-color: $no-color;
  padding: $padding-tb $padding-rl;
  @media (max-width: 950px) {
    flex-wrap: wrap;
    .profile-left, .profile-right {
      flex: 1 100%;
    }
  }
}

.field_editable.invisible {
  display: none;
}

.profile-left {
  display: flex;
  margin-right: 2rem;
  position: relative;

  .profile-rank {
    position: relative;
    left: -2.1rem;
    top: 0;
    font-size: 0;
  }

  .profile-fields {
    padding-left: 1rem;
  }
}

.profile-field-list li {
  display: flex;
}

.profile-label {
  font-weight: 700;
  margin-right: .7rem;
  white-space: nowrap;
}

.profile-right {
  background-color: $nano-dark;
  color: $no-color;
  padding: $padding-tb $padding-rl;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ul { position: relative;}

  a[href*='/privmsg?'] {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.profile-rpg {
  background-color: $no-color;
  padding: $padding-tb $padding-rl;
  margin: $margin-tb 0;

  &-title {
    font-family: $special-font;
    padding: 0 $margin-rl;
    font-size: 1.2rem;
  }
}