@import 'variables';


.page-title {
  font-family: $special-font;
  text-align: center;
  font-size: 2rem;
  padding: $margin-tb;
  color: $no-color;
}

.wrapper.solo {
  max-width: $maxWidthForum;
  margin: auto;
  padding: $margin-tb 0;

  .group-time-info {
    text-align: right;
    font-size: .9rem;
    color: lighten($nano-dark, $amount: 50%);
  }

  .thead {
    background-color: $nano-dark;
    padding: $padding-tb $padding-rl;
    color: $no-color;
    text-transform: uppercase;
    font-weight: 700;
  }

  .normal-panel {
    background-color: $nano-dark;
    padding: $padding-tb $padding-rl;
    margin: $margin-tb auto ;
    color: $no-color;
    border: none; // si class appliquée à un fieldset

    p { 
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    dt label { color: $main-color; }

    .inputbox, input[type="text"], select {
      background-color: transparent;
      border-bottom: 1px solid $no-color;
      cursor: text;
      color: $no-color;
    }

    .inputbox:focus,
    .inputbox:hover,
    input[type="text"]:focus,
    input[type="text"]:hover {
      border-bottom: 1px solid $main-color;
    }

    option { background-color: $nano-dark; }

    input.button2 {
      background-color: transparent;
      color: $no-color;
      text-transform: uppercase;
      font-weight: 700;
      transition: all 200ms ease;
      &:hover { 
        color: $main-color;
        cursor: pointer;
      }
    }

    .submit {
      display: flex;
      align-items: center;
    }
  }

  .second-panel {
    padding: $padding-tb $padding-rl;
    margin: 0 0 $margin-tb;
    background-color: $no-color;
  
    a { color: $nano-dark; }
    a:hover::after { background-color: $nano-dark;}
    
    fieldset { border: none; }
  
    dl {
      display: flex;
      flex-wrap: wrap;
      margin: $padding-tb 0;
    }
  
    dt {
      font-weight: 700;
      flex: 1 30%;
    }
  
    dd {
      flex: 1 70%;
    }
  
    input[type="text"] {
      border: none;
      border-bottom: 1px solid $nano-dark;
      width: 100%!important;
    }
  
    // fix
    #profile_field_4_-12_0 { width: initial!important; }
    span[style="color:#FFFFFF;"] { color: $nano-dark!important; }
  }


  .table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: $no-color;
    margin: $margin-tb auto 0;

    a { color: $nano-dark; }
    a:hover::after { background-color: $nano-dark;} 

    thead {
      background-color: $nano-dark;
      color: $no-color;
      text-transform: uppercase;
      padding: $padding-tb $padding-rl;
    }

    th { padding: $padding-tb $padding-rl; }
    td { padding: calc(#{$padding-tb} / 2) $padding-tb; }
    td.avatar-mini { padding: $padding-tb 0; }
    td.avatar-mini img { width: 100px; }
  }

  .pagination-bar {
    background-color: $nano-dark;
    padding: $padding-tb $padding-rl;
    margin: 0 0 $margin-tb;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    span { color: lighten($nano-dark, $amount: 50%); }
  }
}

#find_username {
  width: 500px;
  background-image: none;
  position: fixed;
  top: 20vh;
  left: calc(50% - 250px);
  text-align: center;
  background-color: $no-color;

  .panel { 
    background-image: none; 
    p { margin-bottom: 1.5rem; }
  }

  #simple-wrap {
    background-color: $nano-dark;
    padding: $padding-tb $padding-rl;
  }
  
  .page-title.jqDrag {
    color: $no-color;
    font-size: 1.3rem;
  }

  & input {
    background-color: $main-color;
    color: $no-color;
    padding: calc(#{$padding-tb} / 2) $padding-rl;
  }
}